In [11]:
import pandas as pd

read_file = pd.read_excel (r'C:\Users\BRIGHT\Desktop\SUMMARY\New1.xlsx')
read_file.to_csv (r'C:\Users\BRIGHT\Desktop\SUMMARY\New1.csv', index = None, header=True)

In [15]:
responses = [line.rstrip() for line in open('New2')]

FileNotFoundError: [Errno 2] No such file or directory: 'New2'

In [17]:
import pandas as pd
df = pd.read_excel (r'C:\Users\BRIGHT\Desktop\SUMMARY\New1.xlsx')
 #place "r" before the path string to address special character, such as '\'. Don't forget to put the file name at the end of the path + '.xlsx'
print (df)

      Idme                         Q9_Loneliness_Meaning_Qual
0      237                                Makes me feel empty
1      545  Not speaking to anyone for days. Being out wit...
2      565  I am a very loving generous person but due to ...
3      658                                         Unlikeable
4     1044  Feeling like you aren't connected to the world...
..     ...                                                ...
106  23445  To be lonely is to yearn for the feeling of cl...
107  23784  No one to communicate with. No close relations...
108  23917   being lonely.  No one to care about my feelings!
109  24354  Being unable to express how I feel to someone ...
110  24356  To me, loneliness is a feeling rather than phy...

[111 rows x 2 columns]

In [20]:
print (len(df))

111

In [28]:
response = pd.read_csv(r'C:\Users\BRIGHT\Desktop\SUMMARY\New3.csv',
                           sep='\t',names=['responses'])

In [29]:
response.head()

                                           responses
0                    Idme,Q9_Loneliness_Meaning_Qual
1                            237,Makes me feel empty
2  545,Not speaking to anyone for days. Being out...
3  565,I am a very loving generous person but due...
4                                     658,Unlikeable

In [30]:
response.describe()

          responses
count           112
unique          112
top     14890,Bored
freq              1

In [31]:
response.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   responses  112 non-null    object
dtypes: object(1)
memory usage: 1.0+ KB

In [35]:
response.groupby('responses').describe()

                                                   length                    \
                                                    count   mean std    min
responses
10037,Means not having someone to open up to an...    1.0   67.0 NaN   67.0
10208,Not having anyone to talk to when in need       1.0   47.0 NaN   47.0
1044,"Feeling like you aren't connected to the ...    1.0  102.0 NaN  102.0
10487,"I've thought about loneliness a lot over...    1.0  304.0 NaN  304.0
10653,-99                                             1.0    9.0 NaN    9.0
...                                                   ...    ...  ..    ...
9193,-99                                              1.0    8.0 NaN    8.0
9345,Lack of social interactions with people cl...    1.0   58.0 NaN   58.0
9576,not having someone to come home to               1.0   39.0 NaN   39.0
9979,"I can only recall being truly lonely, for...    1.0  462.0 NaN  462.0
Idme,Q9_Loneliness_Meaning_Qual                       1.0   31.0 NaN   31.0


                                                      25%    50%    75%    max
responses
10037,Means not having someone to open up to an...   67.0   67.0   67.0   67.0
10208,Not having anyone to talk to when in need      47.0   47.0   47.0   47.0
1044,"Feeling like you aren't connected to the ...  102.0  102.0  102.0  102.0
10487,"I've thought about loneliness a lot over...  304.0  304.0  304.0  304.0
10653,-99                                             9.0    9.0    9.0    9.0
...                                                   ...    ...    ...    ...
9193,-99                                              8.0    8.0    8.0    8.0
9345,Lack of social interactions with people cl...   58.0   58.0   58.0   58.0
9576,not having someone to come home to              39.0   39.0   39.0   39.0
9979,"I can only recall being truly lonely, for...  462.0  462.0  462.0  462.0
Idme,Q9_Loneliness_Meaning_Qual                      31.0   31.0   31.0   31.0

[112 rows x 8 columns]

In [36]:
response['length'] = response['responses'].apply(len)
response.head

<bound method NDFrame.head of                                              responses  length
0                      Idme,Q9_Loneliness_Meaning_Qual      31
1                              237,Makes me feel empty      23
2    545,Not speaking to anyone for days. Being out...     340
3    565,I am a very loving generous person but due...     315
4                                       658,Unlikeable      14
..                                                 ...     ...
107  23445,To be lonely is to yearn for the feeling...      92
108  23784,No one to communicate with. No close rel...      78
109  23917,being lonely.  No one to care about my f...      54
110  24354,Being unable to express how I feel to so...     175
111  24356,"To me, loneliness is a feeling rather t...     466

[112 rows x 2 columns]>

In [38]:
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline