In [ ]:
import kmapper as km
from kmapper import Cover, jupyter
import numpy as np

from sklearn.datasets import fetch_20newsgroups
from sklearn.cluster import AgglomerativeClustering
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.manifold import Isomap
from sklearn.preprocessing import MinMaxScaler

In [ ]:

import pandas as pd

import math
import numpy as np


#raw_data = pd.read_csv(r'C:\Users\BRIGHT\raw.csv')
#raw_data.head()


path_1 = r'C:\Users\BRIGHT\BBCdata.csv'
df_1 = pd.read_csv(path_1)
df_1.head()

In [ ]:
df_1.shape

In [ ]:
import numpy as np

df_1 = df_1.replace("#NULL!	", np.NaN)

#df_1 = df_1.replace(np.NaN, 0 , inplace=True)

In [ ]:
df_1.head()

## I encoded the file with (encoding="ISO-8859-1") for my CSV file that took 3 hours

In [ ]:
path_2 = r'C:\Users\BRIGHT\raw.csv'
df_2 = pd.read_csv(path_2)  # , encoding="ISO-8859-1")
# df_2.head()

In [ ]:
df_1.replace("#NULL!", "0", inplace=True)

In [ ]:
 df_2

In [9]:
# Renaming column

clean_data = df_2.rename(columns = {'Q9_Loneliness_Meaning_Qual': 'response'})

In [10]:
clean_data = clean_data[clean_data['response'].notnull()]

In [11]:
 from nltk.corpus import stopwords
stop = stopwords.words('english')

 clean_data["response"] = clean_data["response"].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [12]:
clean_data['response'] = clean_data['response'].str.lower()
#ean_data['response'] = clean_data['response'].str.replace('[^a-z0-9]+', ' ')
clean_data['response'] = clean_data['response'].str.findall('\w{3,}').str.join(' ')

In [13]:
clean_data.head()

    F  gender   age                                           response
0  29     1.0  89.0  time reflect close family affairs time reflect...
1  30     2.0  44.0
2  31     NaN   NaN
3  32     2.0  63.0         not fitting sad distant emotionally others
4  33     NaN   NaN

In [14]:
clean_data1 = clean_data[clean_data['response'] != '99']

from sklearn.feature_extraction.text import TfidfVectorizer


documents =clean_data['response'].values.astype("U")



vectorizer = TfidfVectorizer(stop_words = ('english'))
features = vectorizer.fit_transform(documents)

df_4 = pd.DataFrame(lens)

In [15]:
clean_data1.shape

(55202, 4)

In [16]:
import string
clean_data["response"] = [char for char in clean_data["response"]]

In [17]:
df1 = pd.merge(df_1, clean_data, left_index=True, right_index=True)

df2 = pd.merge(df_1, df1, left_on='ID', right_on='F')

In [18]:
df1.head()

,ID,Live_Alone,groupedmaritalstatus,Lonelycategrical,positivelonelinessgrouped,groupedtimealone,groupedhealth,F,gender,age,response
0,29,1,1.00,1.00,0,2.00,1.00,29,1.0,89.0,time reflect close family affairs time reflect...
1,32,1,1.00,2.00,1.00,2.00,1.00,30,2.0,44.0,
2,33,-99,0,0,0,0,0,31,NaN,NaN,
3,34,1,1.00,1.00,2.00,1.00,2.00,32,2.0,63.0,not fitting sad distant emotionally others
4,35,-99,0,0,0,0,0,33,NaN,NaN,

In [19]:
df1.dtypes

ID                             int64
Live_Alone                     int64
groupedmaritalstatus          object
Lonelycategrical              object
positivelonelinessgrouped     object
groupedtimealone              object
groupedhealth                 object
F                              int64
gender                       float64
age                          float64
response                      object
dtype: object

In [20]:
df_sel = df1[["ID","groupedmaritalstatus","Live_Alone", "Lonelycategrical", "response"]]

In [21]:
df_sel

,ID,groupedmaritalstatus,Live_Alone,Lonelycategrical,response
0,29,1.00,1,1.00,time reflect close family affairs time reflect...
1,32,1.00,1,2.00,
2,33,0,-99,0,
3,34,1.00,1,1.00,not fitting sad distant emotionally others
4,35,0,-99,0,
...,...,...,...,...,...
55055,55227,0,-99,0,
55056,55228,0,-99,0,
55057,55229,0,-99,0,
55058,55230,0,-99,0,
55059,55231,0,-99,0,

In [22]:
Not_lonely = df_sel[df_sel.Lonelycategrical == '1.00']
Lonely = df_sel[df_sel.Lonelycategrical == '2.00']

In [23]:
len(Not_lonely), len(Lonely)

(29778, 14847)

In [24]:
Not_lonely

,ID,groupedmaritalstatus,Live_Alone,Lonelycategrical,response
0,29,1.00,1,1.00,time reflect close family affairs time reflect...
3,34,1.00,1,1.00,not fitting sad distant emotionally others
5,36,1.00,1,1.00,
7,38,1.00,1,1.00,feeling like one turn rely having one speak
11,42,2.00,1,1.00,
...,...,...,...,...,...
46698,46870,2.00,1,1.00,not knowing turn times wanting share news worr...
46732,46904,2.00,2,1.00,
46738,46910,1.00,1,1.00,void being surrounded people able reach anyone...
46937,47109,2.00,2,1.00,lack meaningful relationships unhappy self
46938,47110,1.00,1,1.00,feeling one share things with

In [25]:
y = np.array(Not_lonely.ID)
y2 = np.array(Lonely.ID)
# print("SAMPLE",X[0])
# print("SHAPE",X.shape)
# print("TARGET",target_names[y[0]])

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer


documents1 = Not_lonely.response.values.astype("U")


documents2 =Lonely.response.values.astype("U")

vectorizer = TfidfVectorizer(stop_words = ('english'))
features1 = vectorizer.fit_transform(documents1)

features2 = vectorizer.fit_transform(documents2)

In [ ]:
features1.shape

In [28]:
len_01 = TruncatedSVD(n_components=100, n_iter=7,  random_state=42).fit_transform(features1)

len_02 = TruncatedSVD(n_components=100, n_iter=7,  random_state=42).fit_transform(features2)

In [ ]:
len_01

In [29]:
import umap
import numpy as np
lens1 = umap.UMAP(n_components=2,
                  random_state=1).fit_transform(len_01)

lens2 = umap.UMAP(n_components=2,
                  random_state=1).fit_transform(len_02)

In [31]:
import persim

In [33]:
bottleneck.plot(
  rds.data,
  outcome.variable,
  est.func = RDS.II.estimates,
  as.factor = FALSE,
  n.eval.points = 25,
  ...
)

SyntaxError: invalid syntax (<ipython-input-33-ebea9b0021d8>, line 5)

In [32]:
persim.bottleneck(lens1, lens2)

MemoryError: Unable to allocate 14.8 GiB for an array with shape (44625, 44625) and data type float64

In [ ]:
import kmapper as km
from kmapper import Cover, jupyter
import numpy as np

from sklearn.datasets import fetch_20newsgroups
from sklearn.cluster import AgglomerativeClustering
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.manifold import Isomap
from sklearn.preprocessing import MinMaxScaler

In [ ]:
mapper = km.KeplerMapper(verbose=2)

projected_X1 = mapper.fit_transform(len_01, lens1)

projected_X2 = mapper.fit_transform(len_02, lens2)

In [ ]:
import sklearn

graph1 = mapper.map(
    lens1, 
    clusterer=sklearn.cluster.DBSCAN(eps=0.3, min_samples=15),
    cover=km.Cover(20, 0.2),
)

graph2 = mapper.map(
    lens2, 
    clusterer=sklearn.cluster.DBSCAN(eps=0.3, min_samples=15),
    cover=km.Cover(20, 0.2),
)

!pip install ripser umap-learn kmapper persim PersistenceImages
!pip install git+https://github.com/shizuo-kaji/CubicalRipser_3dim
!pip install tomaster Boruta
!pip install gudhi

!pip install python-igraph plotly ipywidgets

from sklearn.manifold import Isomap
X1 = Isomap(n_components=50, n_jobs=-1).fit_transform(features)

mapper = km.KeplerMapper(verbose=2)

projected_X = mapper.fit_transform(X,
    projection=[TfidfVectorizer(analyzer="char",
                                ngram_range=(1,6),
                                max_df=0.83,
                                min_df=0.05),
                TruncatedSVD(n_components=100,
                             random_state=1729),
                Isomap(n_components=2,
                       n_jobs=-1)],
    scaler=[None, None, MinMaxScaler()])

print("SHAPE",projected_X.shape)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import sklearn
from sklearn import datasets
from sklearn.preprocessing import MinMaxScaler
import kmapper as km

In [ ]:

    
    
mapper.visualize(
    graph1,
    path_html="Project0/Mapper_Not_Lonely1.html",
    title="Not_lonely",
    custom_tooltips=y,
    color_values=lens1,
    color_function_name=["lens_01", "lens1"],
    node_color_function=["mean", "std", "median", "max"],
)

In [ ]:


mapper.visualize(
    graph2,
    path_html="Project0/Mapper_Lonely1.html",
    title="Lonely",
    custom_tooltips=y2,
    color_values=lens1,
    color_function_name=["lens_01", "lens1"],
    node_color_function=["mean", "std", "median", "max"],
)

In [ ]:
import pandas as pd
import re


list_of_values= [ 
                446, 6330, 7654, 9891, 11815, 12600, 15083, 24274, 25373, 26626, 27194, 28652, 31018, 31795, 34182, 39415, 42342, 44119]
#                  2324, 2336, 2397, 2406, 2445, 2538, 2569, 2607, 2684, 2821, 2834, 2867, 2997, 2999, 3172, 
#                  3523, 3525, 3628, 3646, 3823, 3925, 4051, 4100, 4112, 4168, 4193, 4298, 4334, 4405, 4419, 4468, 
#                  4556, 4621, 4751, 4766, 4828, 4839, 4880, 4938, 4955, 5001, 5046, 5077, 5084, 5110, 5129, 5152, 5225,
#                5810, 5845, 5912, 5943, 5990, 5995, 6010, 6014, 6099, 6184, 6198, 6217, 6243, 6267, 6268, 6278, 6370,
#                  6382, 6388, 6480, 6605, 6666, 6702, 6760, 6772, 6786, 6804, 6841, 6849, 6852, 6908, 6934, 6964, 7028, 
#                  7073, 7103, 7121, 7145, 7148, 7178, 7211, 7304, 7315, 7562, 7697, 7815, 7832, 7918, 8008, 8030, 8099, 8195, 8203, 8244, 8276, 8338, 8428, 8433, 8435, 8544, 8571, 8856, 8892, 8948, 9005, 9020, 9057, 9058, 9147, 9226, 9424, 9486, 9538, 9544, 9548, 9554, 9575, 9583, 9599, 9666, 9712, 9740, 9742, 9778, 9781, 9831, 9913, 9958, 9974, 10039, 10072, 10104, 10111, 10183, 10248, 10300, 10338, 10348, 10351, 10358, 10446, 10496, 10507, 10566, 10585, 10593, 10724, 10755, 10964, 11112, 11154, 11161, 11186, 11265, 11267, 11269, 11273, 11302, 11324, 11345, 11412, 11463, 11472, 11479, 11499, 11506 8056, 8363, 9027, 9442, 10465, 10580, 10657, 11121, 11462, 11712, 11719, 12183, 13645, 13677, 13928, 14846, 16290, 17194, 18041, 18105, 18856, 19117, 19295, 19936, 19983, 20094, 20217, 20459, 21293, 21403, 21744, 22882, 23394, 24018, 24506, 24979, 25921, 26079, 26270, 27153, 27334, 27525, 27814, 27869, 28198, 28659, 28858, 28907, 28990, 30103, 30485, 30566, 31533, 32724, 34446, 34575, 36138, 36265, 36282, 36397, 36543, 37337, 37840, 38257, 38590, 38932, 39734, 40009, 40196, 41074, 41184, 41492, 41528, 41955, 42504, 43077, 43775, 44289, 44325, 44653, 44835, 45600, 45731, 45871, 46036, 46077, 46759] 



df_21= df_2[df_2['F'].isin(list_of_values)]

df_21.values

In [ ]:
list_of_value=[64,163,303,362,430,435,459,464,510,515,520,545,550,590,744,772,871,959,997] # Lonely

df_21= df_2[df_2['F'].isin(list_of_value)]

df_21.values

In [ ]:
list_of_valu = [719, 860, 900, 918, 951, 967, 991, 994, 1035, 1056, 1071, 1130, 1874, 1889, 1926,
                1959, 1979, 1985, 1986, 1997, 2153, 2211, 2219, 2238, 2265, 2282, 2292, 2343, 2379,
                3229, 3268, 3275, 3358, 3367, 3408, 3417, 3423, 3453, 3468, 3471, 3473, 3474, 3507, 
                3511, 3534, 3544, 3640, 3649, 3663, 3665, 3672, 3684, 3720, 3722, 3742, 3861, 3903, 
                3940, 3990, 3992, 4006, 4079, 4098, 4103, 4110, 4114, 4130, 4175, 4180, 4186, 4200, 
                4201, 4267, 4290, 4304, 4359, 4380, 4411, 4422, 4441, 4466, 4481, 4499, 4518, 4524, 
                8888, 8917, 8929, 8930, 8942, 8972, 8976, 8981, 9037, 9046, 9134, 9144, 9166, 9180, 
                9256, 9257, 9260, 9312, 9405, 9500, 9514, 9550, 9592, 9600, 9603, 9650, 9663, 9668, 
                9698, 9765, 9786, 9793, 9803, 9872, 9950, 9994, 10049, 10082, 10128, 10138, 10178, 
                10187, 10194, 10203, 10226, 10231, 10323, 10326, 10349, 10396, 10398, 10426, 10459, 
                10494, 10538, 10575, 10613, 10658, 10663, 10735, 10737, 10772, 10775, 11008, 11017, 
                11054, 11148, 11157, 11205, 11257, 11260, 11262]



df_21= df_2[df_2['F'].isin(list_of_valu)]

df_21.values

In [ ]:
list_of_valu1=[3155, 3274, 8449, 9741, 11048, 12303, 14976, 16725, 18687, 21070, 21375, 23939, 26013, 26585, 28574, 30375, 31503, 31894, 32023, 32674, 33081, 34678, 35096, 35113, 37239, 38673, 38981, 40060, 42000, 42385, 43392, 43494, 43961, 44380]


df_21= df_2[df_2['F'].isin(list_of_valu1)]

df_21.values

In [ ]:
list_of_valu2=[47, 553, 1301, 2442, 2767, 3721, 8547, 10016, 10176, 10705, 11633, 12911, 15747, 16320, 21485, 22600, 24436, 26059, 26511, 26906, 29812, 32189, 34388, 35634, 38774, 38900, 39464, 39935, 41451, 43855, 43892]

df_21= df_2[df_2['F'].isin(list_of_valu2)]

df_21.values

In [ ]:
36, 50, 66, 84, 96, 137, 140, 159, 175, 179, 182, 189, 195, 200, 203, 233, 269, 290, 328, 348, 389, 390, 449, 460, 469, 540, 585, 597, 631, 639, 686, 693, 725, 767, 824, 925, 943, 1026, 1047, 1061, 1093, 1107, 1164, 1172, 1185, 1224, 1241, 1261, 1278, 1316, 1346, 1348, 1446, 1465, 1492, 1505, 1631, 1657, 1699, 1705, 1718, 1771, 1778, 1808, 1829, 1845, 1870, 1872, 1892, 1906, 1938, 1950, 1984, 2031, 2054, 2061, 2087, 2093, 2150, 2155, 2162, 2194, 2250, 2286, 2311, 2316, 2321, 2323, 2344, 2374, 2467, 2480, 2500, 2562, 2601, 2629, 2656, 2662, 2704, 2783, 2912, 2998, 3024, 3046, 3058, 3070, 3073, 3082, 3116, 3157, 3165, 3313, 3320, 3362, 3373, 3418, 3419, 3441, 3477, 3480, 3485, 3633, 3696, 3735, 3761, 3774, 3882, 3896, 3934, 3963, 3984, 4057, 4097, 4148, 4152, 4153, 4172, 4190, 4242, 4268, 4295, 4316, 4317, 4333, 4410, 4416, 4477, 4523, 4526, 4561, 4565, 4570, 4606, 4641, 4642, 4648, 4656, 4699, 4741, 4767, 4807, 4823, 4838, 4875, 4901, 4904, 4908, 4919, 4952, 4992, 4996, 5038, 5154, 5156, 5228, 5257, 5293, 5314, 5321, 5331, 5432, 5474, 5531, 5578, 5671, 5740, 5761, 5891, 5903, 5950, 5965, 6109, 6308, 6315, 6325, 6377, 6391, 6425, 6438, 6462, 6482, 6491, 6492, 6499, 6549, 6556, 6570, 6601, 6632, 6676, 6743, 6778, 6810, 6830, 6899, 6951, 6958, 7018, 7038, 7074, 7108, 7179, 7187, 7212, 7226, 7227, 7254, 7312, 7316, 7327, 7333, 7349, 7364, 7380, 7429, 7446, 7506, 7508, 7528, 7555, 7560, 7641, 7659, 7661, 7755, 7767, 7775, 7785, 7795, 7816, 7825, 7842, 7864, 7874, 7879, 7884, 7894, 8046, 8048, 8061, 8077, 8098, 8153, 8156, 8272, 8288, 8291, 8340, 8383, 8410, 8413, 8415, 8471, 8477, 8486, 8513, 8533, 8558, 8617, 8620, 8632, 8633, 8655, 8687, 8693, 8726, 8763, 8780, 8846, 8853, 8865, 8869, 8871, 8884, 8894, 8901, 8964, 8967, 9052, 9068, 9086, 9097, 9133, 9167, 9177, 9190, 9207, 9340, 9365, 9446, 9469, 9488, 9611, 9636, 9691, 9721, 9726, 9768, 9798, 9870, 9876, 9941, 9948, 9977, 9985, 9992, 10019, 10041, 10044, 10045, 10122, 10146, 10175, 10182, 10232, 10253, 10256, 10288, 10322, 10376, 10377, 10385, 10402, 10424, 10448, 10453, 10466, 10522, 10534, 10600, 10608, 10648, 10674, 10685, 10718, 10777, 10779, 10784, 10811, 10837, 10864, 10911, 10913, 10929, 10952, 10953, 10988, 10991, 11009, 11038, 11066, 11071, 11097, 11098, 11111, 11185, 11193, 11209, 11230, 11258, 11268, 11274, 11277, 11305, 11335, 11343, 11370, 11376, 11390, 11394, 11398, 11458, 11568, 11613, 11615, 11640, 11704, 11750, 11756, 11768, 11777, 11788, 11810, 11853, 11875, 11915, 11923, 11931, 11979, 12006, 12007, 12085, 12095, 12114, 12144, 12154, 12162, 12172, 12216, 12224, 12234, 12255, 12297, 12358, 12398, 12479, 12482, 12533, 12541, 12607, 12648, 12661, 12679, 12704, 12705, 12739, 12741, 12742, 12747, 12795, 12820, 12865, 12918, 12932, 12934, 12936, 12974, 12990, 13004, 13038, 13044, 13049, 13087, 13107, 13147, 13161, 13166, 13189, 13203, 13205, 13230, 13286, 13338, 13393, 13434, 13442, 13472, 13512, 13536, 13543, 13588, 13672, 13674, 13708, 13724, 13752, 13771, 13802, 13832, 13919, 13978, 14023, 14061, 14127, 14143, 14172, 14184, 14214, 14235, 14250, 14253, 14257, 14274, 14315, 14349, 14353, 14389, 14458, 14468, 14489, 14493, 14505, 14554, 14621, 14647, 14702, 14711, 14742, 14768, 14773, 14821, 14833, 14845, 14854, 14900, 14921, 14968, 15077, 15094, 15137, 15153, 15181, 15193, 15298, 15302, 15323, 15383, 15392, 15400, 15417, 15436, 15488, 15539, 15599, 15619, 15752, 15774, 15815, 15845, 15866, 15869, 15901, 15968, 15976, 16085, 16088, 16115, 16159, 16173, 16188, 16235, 16246, 16289, 16332, 16358, 16422, 16438, 16479, 16482, 16489, 16495, 16547, 16549, 16563, 16669, 16693, 16695, 16716, 16735, 16745, 16748, 16782, 16792, 16873, 16892, 16895, 16902, 16956, 17031, 17035, 17050, 17058, 17074, 17088, 17115, 17183, 17222, 17227, 17259, 17296, 17298, 17318, 17349, 17417, 17463, 17588, 17620, 17747, 17754, 17765, 17799, 17819, 17833, 17853, 17880, 17915, 17924, 17949, 18060, 18064, 18073, 18089, 18109, 18128, 18133, 18152, 18165, 18185, 18214, 18287, 18299, 18300, 18304, 18308, 18364, 18413, 18431, 18471, 18475, 18486, 18512, 18515, 18535, 18581, 18588, 18636, 18676, 18680, 18689, 18706, 18746, 18801, 18802, 18830, 18839, 18880, 18887, 18936, 18949, 18969, 18988, 18993, 19005, 19011, 19170, 19229, 19244, 19271, 19286, 19316, 19318, 19335, 19348, 19360, 19373, 19386, 19441, 19471, 19505, 19564, 19598, 19620, 19621, 19642, 19707, 19710, 19742, 19753, 19765, 19794, 19823, 19834, 19929, 19968, 20007, 20014, 20015, 20048, 20121, 20122, 20146, 20152, 20158, 20187, 20198, 20201, 20298, 20368, 20410, 20420, 20422, 20434, 20481, 20508, 20513, 20524, 20564, 20597, 20637, 20644, 20779, 20788, 20894, 20900, 20930, 20935, 20951, 21008, 21027, 21035, 21072, 21108, 21136, 21141, 21174, 21230, 21315, 21330, 21335, 21352, 21419, 21436, 21454, 21455, 21504, 21529, 21576, 21613, 21646, 21656, 21676, 21679, 21728, 21735, 21791, 21794, 21803, 21814, 21818, 21836, 21841, 21868, 21885, 21903, 21930, 21949, 21970, 22014, 22019, 22025, 22056, 22090, 22182, 22188, 22190, 22195, 22210, 22221, 22322, 22331, 22337, 22382, 22421, 22435, 22441, 22473, 22522, 22546, 22556, 22615, 22628, 22706, 22791, 22813, 22858, 22888, 22909, 22916, 22918, 22989, 23069, 23114, 23168, 23242, 23269, 23276, 23296, 23314, 23328, 23342, 23398, 23465, 23491, 23560, 23564, 23600, 23606, 23661, 23850, 23857, 23860, 23869, 23878, 23992, 24006, 24113, 24119, 24155, 24287, 24288, 24315, 24317, 24360, 24400, 24404, 24492, 24500, 24521, 24526, 24530, 24536, 24571, 24590, 24642, 24695, 24709, 24713, 24754, 24756, 24763, 24792, 24800, 24817, 24826, 24827, 24837, 24856, 24875, 24893, 24936, 24960, 24967, 24976, 24989, 25015, 25063, 25077, 25085, 25101, 25104, 25110, 25180, 25183, 25212, 25222, 25239, 25281, 25375, 25378, 25394, 25415, 25427, 25537, 25556, 25597, 25699, 25705, 25748, 25806, 25853, 25864, 25904, 25909, 26001, 26049, 26064, 26084, 26091, 26097, 26105, 26137, 26151, 26171, 26237, 26267, 26283, 26292, 26302, 26323, 26357, 26395, 26519, 26531, 26595, 26611, 26656, 26661, 26683, 26715, 26738, 26759, 26777, 26784, 26789, 26790, 26817, 26822, 26933, 27003, 27021, 27044, 27152, 27165, 27173, 27180, 27201, 27209, 27211, 27233, 27252, 27255, 27267, 27292, 27427, 27474, 27484, 27505, 27517, 27519, 27535, 27604, 27616, 27684, 27688, 27701, 27764, 27803, 27828, 27831, 27899, 27904, 27905, 27924, 27954, 27983, 28026, 28040, 28044, 28056, 28058, 28076, 28147, 28162, 28175, 28181, 28248, 28267, 28302, 28316, 28322, 28369, 28372, 28444, 28477, 28505, 28544, 28614, 28635, 28682, 28699, 28712, 28734, 28765, 28788, 28799, 28864, 28891, 28919, 28926, 28932, 28940, 28955, 29001, 29019, 29097, 29099, 29102, 29126, 29153, 29160, 29170, 29206, 29241, 29282, 29327, 29332, 29362, 29385, 29469, 29505, 29527, 29574, 29587, 29612, 29637, 29645, 29650, 29668, 29690, 29728, 29792, 29841, 29845, 29905, 29920, 30012, 30057, 30092, 30128, 30145, 30158, 30170, 30270, 30477, 30488, 30685, 30760, 30798, 30806, 30817, 30850, 30861, 30889, 30899, 30915, 30998, 31016, 31044, 31069, 31098, 31118, 31145, 31176, 31225, 31289, 31362, 31400, 31433, 31438, 31462, 31592, 31630, 31641, 31714, 31731, 31737, 31739, 31773, 31797, 31853, 31912, 31935, 31949, 31952, 31954, 31995, 32078, 32112, 32152, 32188, 32190, 32203, 32209, 32258, 32259, 32283, 32356, 32404, 32412, 32413, 32513, 32514, 32577, 32579, 32598, 32644, 32691, 32714, 32771, 32836, 32845, 32919, 32920, 32946, 32991, 33079, 33088, 33098, 33101, 33103, 33142, 33215, 33220, 33250, 33266, 33286, 33352, 33377, 33398, 33484, 33491, 33532, 33562, 33588, 33591, 33618, 33701, 33739, 33743, 33767, 33802, 33804, 33826, 33853, 33854, 33860, 33917, 33936, 33937, 34009, 34027, 34040, 34044, 34061, 34078, 34116, 34123, 34144, 34179, 34194, 34202, 34274, 34312, 34324, 34329, 34331, 34367, 34389, 34398, 34449, 34491, 34538, 34609, 34633, 34670, 34727, 34729, 34780, 34832, 34867, 34929, 34936, 34940, 35038, 35052, 35055, 35129, 35140, 35167, 35198, 35261, 35280, 35299, 35336, 35370, 35380, 35504, 35519, 35608, 35639, 35646, 35686, 35745, 35747, 35750, 35764, 35789, 35792, 35811, 35837, 35920, 35953, 35969, 35988, 36036, 36055, 36076, 36124, 36132, 36136, 36226, 36248, 36259, 36277, 36378, 36402, 36448, 36464, 36469, 36513, 36536, 36581, 36604, 36626, 36639, 36671, 36712, 36782, 36801, 36869, 36899, 36923, 36933, 37009, 37057, 37062, 37066, 37070, 37083, 37094, 37095, 37100, 37106, 37148, 37185, 37191, 37204, 37218, 37222, 37234, 37238, 37265, 37276, 37287, 37292, 37309, 37315, 37323, 37355, 37380, 37383, 37396, 37424, 37438, 37472, 37487, 37529, 37564, 37581, 37601, 37614, 37627, 37631, 37643, 37669, 37671, 37676, 37711, 37727, 37739, 37745, 37805, 37819, 37838, 37864, 37868, 37873, 37890, 37926, 37968, 37989, 37997, 38007, 38070, 38082, 38157, 38159, 38167, 38192, 38208, 38213, 38219, 38224, 38263, 38297, 38299, 38327, 38364, 38380, 38416, 38436, 38465, 38486, 38490, 38499, 38505, 38515, 38598, 38650, 38683, 38698, 38708, 38739, 38778, 38783, 38821, 38825, 38859, 38876, 38899, 38903, 38954, 38961, 38978, 39054, 39067, 39091, 39132, 39153, 39168, 39186, 39201, 39229, 39253, 39259, 39272, 39276, 39284, 39299, 39328, 39374, 39381, 39382, 39386, 39398, 39400, 39420, 39422, 39440, 39445, 39459, 39461, 39517, 39519, 39522, 39564, 39567, 39648, 39685, 39731, 39772, 39870, 39894, 39907, 39909, 39929, 39933, 39940, 39973, 39997, 40000, 40086, 40112, 40122, 40139, 40153, 40154, 40157, 40221, 40267, 40321, 40339, 40364, 40377, 40421, 40436, 40451, 40473, 40485, 40487, 40505, 40508, 40520, 40525, 40553, 40554, 40611, 40639, 40653, 40657, 40681, 40691, 40705, 40706, 40711, 40725, 40767, 40781, 40785, 40791, 40811, 40847, 40854, 40858, 40874, 40876, 40903, 40907, 40916, 40934, 40944, 40949, 40951, 40960, 40961, 40964, 40981, 40991, 41001, 41012, 41019, 41020, 41021, 41023, 41026, 41027, 41075, 41090, 41094, 41100, 41131, 41141, 41159, 41171, 41181, 41190, 41210, 41212, 41213, 41223, 41226, 41251, 41261, 41283, 41289, 41307, 41343, 41366, 41413, 41417, 41426, 41439, 41440, 41457, 41490, 41503, 41507, 41512, 41519, 41547, 41568, 41615, 41635, 41644, 41645, 41652, 41693, 41696, 41711, 41756, 41806, 41872, 41887, 41909, 41952, 41975, 42010, 42019, 42071, 42086, 42091, 42096, 42101, 42141, 42148, 42168, 42186, 42190, 42197, 42198, 42208, 42210, 42217, 42239, 42257, 42279, 42289, 42349, 42352, 42360, 42370, 42378, 42397, 42412, 42435, 42448, 42452, 42457, 42485, 42509, 42544, 42586, 42602, 42614, 42620, 42654, 42657, 42661, 42699, 42710, 42748, 42749, 42763, 42770, 42783, 42800, 42807, 42818, 42836, 42849, 42872, 42874, 42875, 42897, 42942, 42945, 42964, 42983, 42995, 43016, 43022, 43026, 43031, 43041, 43054, 43057, 43073, 43075, 43086, 43111, 43120, 43121, 43126, 43138, 43162, 43174, 43192, 43210, 43214, 43236, 43247, 43256, 43300, 43309, 43330, 43333, 43336, 43339, 43422, 43451, 43464, 43467, 43488, 43500, 43522, 43530, 43576, 43603, 43609, 43637, 43640, 43648, 43650, 43686, 43697, 43698, 43744, 43746, 43760, 43761, 43779, 43808, 43811, 43827, 43841, 43871, 43881, 43882, 43898, 43921, 43955, 43959, 43979, 43985, 43988, 44000, 44013, 44019, 44042, 44050, 44085, 44089, 44090, 44092, 44099, 44105, 44116, 44126, 44128, 44161, 44168, 44180, 44185, 44198, 44210, 44229, 44251, 44262, 44273, 44291, 44292, 44347, 44374, 44381, 44390, 44400, 44443, 44445, 44446, 44517, 44536, 44616, 44622, 44626, 44641, 44644, 44657, 44669, 44683, 44703, 44707, 44746, 44791, 44828, 44838, 44854, 44865, 44866, 44869, 44879, 44903, 44929, 44932, 44991, 44995, 45025, 45027, 45078, 45080, 45091, 45104, 45111, 45120, 45141, 45155, 45169, 45171, 45182, 45208, 45212, 45222, 45251, 45273, 45277, 45285, 45309, 45333, 45387, 45392, 45394, 45402, 45406, 45427, 45429, 45440, 45443, 45449, 45463, 45464, 45477, 45504, 45507, 45522, 45551, 45553, 45557, 45621, 45628, 45633, 45636, 45654, 45669, 45682, 45689, 45703, 45705, 45716, 45725, 45737, 45756, 45759, 45762, 45776, 45779, 45786, 45789, 45807, 45811, 45816, 45818, 45822, 45830, 45833, 45836, 45839, 45841, 45847, 45854, 45859, 45873, 45881, 45885, 45888, 45893, 45900, 45906, 45910, 45911, 45925, 45990, 46004, 46006, 46010, 46017, 46020, 46024, 46035, 46049, 46055, 46061, 46074, 46095, 46098, 46102, 46110, 46131, 46132, 46145, 46157, 46224, 46226, 46227, 46234, 46265, 46278, 46279, 46289, 46300, 46319, 46326, 46328, 46331, 46332, 46339, 46368, 46377, 46584, 46796]

In [ ]:
 # Custom coloring data based on the first variable
df_11 = pd.DataFrame(lens1, columns=["x", "y"])
df_11.head()

In [ ]:
df_11["Circle"] = df_11["x"] ** 2 + df_11["y"] ** 2 < 0.25
df_11["Circle"] = df_11["Circle"].replace([False, True], ["A", "B"])

In [ ]:
df_11.head()

In [ ]:
node_elements = graph1.vs["node_elements"]

In [ ]:
graph_1 = mapper.fit_transform(df_11[["x", "y"]])

In [ ]:
node_elements

In [ ]:

import matplotlib.pyplot as plt

km.draw_matplotlib(graph)
plt.show()

In [ ]:
import sys
try:
    import pandas as pd
except ImportError as e:
    print("pandas is required for this example. Please install with conda or pip  and then try again.")
    sys.exit()

import numpy as np
import sklearn
from sklearn import ensemble
import kmapper as km
from kmapper.plotlyviz import *

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [ ]:
feature_names = [c for c in clean_data.columns if c not in ["ID", "gender", "age", "Live_Alone","groupedmaritalstatus","Lonelycategrical","positivelonelinessgrouped","groupedtimealone",
                        "groupedhealth"]]

In [ ]:
X = text ve
y = np.array(clean_data[["Live_Alone","groupedmaritalstatus","Lonelycategrical","positivelonelinessgrouped","groupedtimealone",
                        "groupedhealth"]])

In [ ]:
X

In [ ]:
import umap
import numpy as np
lens = umap.UMAP(n_components=2,
                  random_state=1).fit_transform(X)

In [ ]:
embeddings.shape

In [ ]:
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler

In [ ]:
model= DBSCAN(eps = 0.6, min_samples = 25).fit(embeddings)

In [ ]:
clean_data['cluster'] = model.labels_

n_clusters_ = len(set(clean_data['cluster'])) - (1 if -1 in clean_data['cluster'] else 0)
n_noise_ = list(clean_data['cluster']).count(-1)

n_clusters_

#clean_data.to_csv('raw_cluster1.csv', index = False)

k = 17
order_centroids = model.labels_
terms = vectorizer.get_feature_names()

for i in range(k):
    print("Cluster %d:" % i)
    for j in order_centroids[i, :10]: #print out 10 feature terms of each cluster
        print (' %s' % terms[j])
    print('------------')

In [ ]:
##### from sklearn import metrics
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN
# Data viz
from gtda.plotting import plot_point_cloud

# TDA magic
from gtda.mapper import (
    CubicalCover,
    make_mapper_pipeline,
    Projection,
    plot_static_mapper_graph,
    plot_interactive_mapper_graph,
    MapperInteractivePlotter
)

#Define filter
ump = umap.UMAP(n_neighbors=12,
                      min_dist=0.3,
                      metric='correlation')

# Define cover
cover = CubicalCover(n_intervals=10, overlap_frac=0.3)
# Choose clustering algorithm – default is DBSCAN
model= DBSCAN(eps = 0.6, min_samples = 20)
# Configure parallelism of clustering step
n_jobs = 1

# Initialise pipeline
pipe = make_mapper_pipeline(
    #filter_func=ump,
    cover=cover,
    clusterer=model,
    verbose=True,
    n_jobs=n_jobs,
)

In [ ]:
reshape = embeddings.reshape(-1,1)

fig = plot_static_mapper_graph(pipe, reshape)
fig.show(config={'scrollZoom': True})

In [ ]:
plot_interactive_mapper_graph(pipe, embeddings)

In [ ]:
reshape = embeddings
# Create the plotter object
MIP = MapperInteractivePlotter(pipe, reshape)

# Generate interactive widget
MIP.plot(color_data=reshape)

In [ ]:
print("Attributes created by `.plot` and updated during the interactive session:\n",
      [attr for attr in dir(MIP) if attr.endswith("_") and attr[0] != "_"])

In [ ]:
graph = pipe.fit_transform(reshape)
node_elements = graph.vs["node_elements"]
#print(f"There are {len(node_elements)} nodes.\nThe first node consists of row indices {node_elements[0]}.")

In [ ]:
fig = plot_static_mapper_graph(
    pipe, embeddings, node_color_statistic=np.arange(len(node_elements))
)
#fig.show(config={'scrollZoom': True})

In [ ]:
df = pd.DataFrame(reshape, columns=["x", "y"])
df.head()
df.shape

In [ ]:
pipe.set_params(filter_func=Projection(columns=["x", "y"]));

In [ ]:

fig = plot_static_mapper_graph(pipe, df, color_data=df)
fig.show(config={'scrollZoom': True})

In [ ]:
df = pd.DataFrame(embeddings, columns=["x", "y"])

In [ ]:
df["Circle"] = df["x"] ** 2 + df["y"] ** 2 < 0.25
df["Circle"] = df["Circle"].replace([False, True], ["A", "B"])

In [ ]:
df

In [ ]:
color_data = pd.get_dummies(df["Circle"], prefix="Circle")

fig = plot_static_mapper_graph(pipe, df[["x", "y"]], color_data=color_data)
fig.show(config={'scrollZoom': True})

In [ ]:
graph = pipe.fit_transform(df[["x", "y"]])

In [ ]:
graph.vs.attributes()

In [ ]:
node_elements

for

In [ ]:
node_id = 0
node_elements = graph.vs["node_elements"]

print(f"""
Node ID: {node_id}
Node elements: {node_elements[node_id]}
Data points: {embeddings[node_elements[node_id]]}
""")

In [ ]:
node_elements

Clean_data

In [ ]:
filter_func = np.sum

pipe = make_mapper_pipeline(
    filter_func=filter_func,
    cover=cover,
    clusterer=model,
    verbose=True,
    n_jobs=n_jobs,
)

In [ ]:
fig = plot_static_mapper_graph(pipe, embeddings)
fig.show(config={'scrollZoom': True})