In [1]:

import pandas as pd

import math
import numpy as np


#raw_data = pd.read_csv(r'C:\Users\BRIGHT\raw.csv')
#raw_data.head()


path_1 = r'C:\Users\BRIGHT\BBCdata.csv'
df_1 = pd.read_csv(path_1)
df_1.head()

,ID,Live_Alone,groupedmaritalstatus,Lonelycategrical,positivelonelinessgrouped,groupedtimealone,groupedhealth
0,29,1,1.00,1.00,#NULL!,2.00,1.00
1,32,1,1.00,2.00,1.00,2.00,1.00
2,33,-99,#NULL!,#NULL!,#NULL!,#NULL!,#NULL!
3,34,1,1.00,1.00,2.00,1.00,2.00
4,35,-99,#NULL!,#NULL!,#NULL!,#NULL!,#NULL!

In [2]:
df_1.size

385420

In [3]:
import numpy as np

df_1 = df_1.replace("#NULL!	", np.NaN)

#df_1 = df_1.replace(np.NaN, 0 , inplace=True)

In [4]:
df_1.head()

,ID,Live_Alone,groupedmaritalstatus,Lonelycategrical,positivelonelinessgrouped,groupedtimealone,groupedhealth
0,29,1,1.00,1.00,#NULL!,2.00,1.00
1,32,1,1.00,2.00,1.00,2.00,1.00
2,33,-99,#NULL!,#NULL!,#NULL!,#NULL!,#NULL!
3,34,1,1.00,1.00,2.00,1.00,2.00
4,35,-99,#NULL!,#NULL!,#NULL!,#NULL!,#NULL!

## I encoded the file with (encoding="ISO-8859-1") for my CSV file that took 3 hours

In [5]:
path_2 = r'C:\Users\BRIGHT\raw.csv'
df_2 = pd.read_csv(path_2)  # , encoding="ISO-8859-1")
df_2.head()

    F  gender   age                         Q9_Loneliness_Meaning_Qual
0  29     1.0  89.0  time to reflect on close family affairs, time ...
1  30     2.0  44.0                                                -99
2  31     NaN   NaN                                                -99
3  32     2.0  63.0  Not fitting in; sad; distant emotionally from ...
4  33     NaN   NaN                                                -99

df_1.replace("#NULL!", "0", inplace=True)

In [6]:
 df_2.shape

(55203, 4)

In [7]:
# Renaming column

clean_data = df_2.rename(columns = {'Q9_Loneliness_Meaning_Qual': 'response'})

In [8]:
clean_data['response'] = clean_data['response'].str.lower()
clean_data['response'] = clean_data['response'].str.replace('loneliness', '')
clean_data['response'] = clean_data['response'].str.replace('/', ' ')
clean_data['response'] = clean_data['response'].str.replace('\n', ' ')
clean_data['response'] = clean_data['response'].str.replace('.', '')
clean_data['response'] = clean_data['response'].str.replace(',', '')

<ipython-input-8-c7aa80a078c6>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  clean_data['response'] = clean_data['response'].str.replace('.', '')

In [9]:
clean_data = clean_data[clean_data['response'] != '-99']

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer


documents =clean_data['response'].values.astype("U")



vectorizer = TfidfVectorizer(stop_words = ('english'))
features = vectorizer.fit_transform(documents)

In [11]:
import umap
import numpy as np
lens = umap.UMAP(n_components=2,
                  random_state=1).fit_transform(features)

In [12]:
df_4 = pd.DataFrame(lens)

In [13]:
df_4.head()

          0          1
0 -5.844135  13.877417
1  1.173233  12.114919
2 -3.085478   9.912493
3  0.392786   7.220436
4 -6.253227  13.206820

In [31]:
df_4.shape

(39444, 2)

In [39]:
df1 = pd.merge(df_1, df_4, left_index=True, right_index=True)

In [45]:

df1

,ID,Live_Alone,groupedmaritalstatus,Lonelycategrical,positivelonelinessgrouped,groupedtimealone,groupedhealth,0,1
0,29,1,1.00,1.00,0,2.00,1.00,-5.844135,13.877417
1,32,1,1.00,2.00,1.00,2.00,1.00,1.173233,12.114919
2,33,-99,0,0,0,0,0,-3.085478,9.912493
3,34,1,1.00,1.00,2.00,1.00,2.00,0.392786,7.220436
4,35,-99,0,0,0,0,0,-6.253227,13.206820
...,...,...,...,...,...,...,...,...,...
39439,39608,1,1.00,1.00,2.00,2.00,0,-17.229113,11.571386
39440,39609,1,1.00,1.00,2.00,2.00,0,-5.906610,11.784863
39441,39610,2,2.00,2.00,2.00,2.00,0,-2.749730,12.862091
39442,39611,2,2.00,2.00,1.00,2.00,0,-17.218416,11.583133
39443,39612,1,2.00,2.00,1.00,2.00,0,-3.272557,10.641032

df2 = pd.merge(df_1, df1, left_on='ID', right_on='F')

In [41]:
df2 = df1.replace("#NULL!", "0", inplace=True)

In [44]:
df2

In [46]:
df3 = df1.replace("-99", "0", inplace=True)

!pip install ripser umap-learn kmapper persim PersistenceImages
!pip install git+https://github.com/shizuo-kaji/CubicalRipser_3dim
!pip install tomaster Boruta
!pip install gudhi

!pip install python-igraph plotly ipywidgets

In [49]:
import matplotlib.pyplot as plt
import numpy as np
import sklearn
from sklearn import datasets
from sklearn.preprocessing import MinMaxScaler
import kmapper as km

In [51]:
# Initialize to use t-SNE with 2 components (reduces data to 2 dimensions). Also note high overlap_percentage.
mapper = km.KeplerMapper(verbose=2)

KeplerMapper(verbose=2)

In [57]:
X = features

# Create the graph (we cluster on the projected data and suffer projection loss)
graph = mapper.map(
    lens, X,
    clusterer=sklearn.cluster.DBSCAN(eps=0.3, min_samples=15),
    cover=km.Cover(35, 0.4),
)

Mapping on data shaped (39444, 18558) using lens shaped (39444, 2)

Minimal points in hypercube before clustering: 15
Creating 1225 hypercubes.
   > Found 1 clusters in hypercube 0.
   > Found 1 clusters in hypercube 1.
   > Found 1 clusters in hypercube 2.
   > Found 1 clusters in hypercube 3.
   > Found 1 clusters in hypercube 4.
   > Found 1 clusters in hypercube 5.
   > Found 1 clusters in hypercube 6.
   > Found 1 clusters in hypercube 7.
Cube_8 is empty.

Cube_9 is empty.

Cube_10 is empty.

Cube_11 is empty.

   > Found 1 clusters in hypercube 12.
   > Found 1 clusters in hypercube 13.
   > Found 1 clusters in hypercube 14.
   > Found 1 clusters in hypercube 15.
Cube_16 is empty.

Cube_17 is empty.

   > Found 0 clusters in hypercube 18.
   > Found 0 clusters in hypercube 19.
   > Found 0 clusters in hypercube 20.
   > Found 0 clusters in hypercube 21.
   > Found 0 clusters in hypercube 22.
   > Found 1 clusters in hypercube 23.
   > Found 1 clusters in hypercube 24.
   > Found 1 clusters in hypercube 25.
   > Found 0 clusters in hypercube 26.
   > Found 1 clusters in hypercube 27.
   > Found 1 clusters in hypercube 28.
   > Found 1 clusters in hypercube 29.
   > Found 1 clusters in hypercube 30.
Cube_31 is empty.

Cube_32 is empty.

Cube_33 is empty.

   > Found 1 clusters in hypercube 34.
   > Found 1 clusters in hypercube 35.
   > Found 0 clusters in hypercube 36.
   > Found 0 clusters in hypercube 37.
   > Found 0 clusters in hypercube 38.
   > Found 0 clusters in hypercube 39.
   > Found 1 clusters in hypercube 40.
   > Found 1 clusters in hypercube 41.
   > Found 1 clusters in hypercube 42.
   > Found 0 clusters in hypercube 43.
   > Found 0 clusters in hypercube 44.
Cube_45 is empty.

Cube_46 is empty.

Cube_47 is empty.

Cube_48 is empty.

   > Found 1 clusters in hypercube 49.
   > Found 1 clusters in hypercube 50.
   > Found 0 clusters in hypercube 51.
   > Found 0 clusters in hypercube 52.
   > Found 0 clusters in hypercube 53.
   > Found 0 clusters in hypercube 54.
   > Found 0 clusters in hypercube 55.
   > Found 0 clusters in hypercube 56.
   > Found 0 clusters in hypercube 57.
   > Found 1 clusters in hypercube 58.
   > Found 0 clusters in hypercube 59.
   > Found 0 clusters in hypercube 60.
   > Found 0 clusters in hypercube 61.
   > Found 1 clusters in hypercube 62.
   > Found 1 clusters in hypercube 63.
   > Found 1 clusters in hypercube 64.
   > Found 0 clusters in hypercube 65.
   > Found 0 clusters in hypercube 66.
   > Found 0 clusters in hypercube 67.
Cube_68 is empty.

   > Found 2 clusters in hypercube 69.
   > Found 2 clusters in hypercube 70.
   > Found 1 clusters in hypercube 71.
   > Found 0 clusters in hypercube 72.
   > Found 1 clusters in hypercube 73.
   > Found 0 clusters in hypercube 74.
   > Found 0 clusters in hypercube 75.
   > Found 1 clusters in hypercube 76.
   > Found 0 clusters in hypercube 77.
   > Found 0 clusters in hypercube 78.
   > Found 0 clusters in hypercube 79.
   > Found 0 clusters in hypercube 80.
   > Found 0 clusters in hypercube 81.
   > Found 1 clusters in hypercube 82.
   > Found 1 clusters in hypercube 83.
   > Found 1 clusters in hypercube 84.
Cube_85 is empty.

   > Found 1 clusters in hypercube 86.
   > Found 0 clusters in hypercube 87.
Cube_88 is empty.

   > Found 1 clusters in hypercube 89.
   > Found 3 clusters in hypercube 90.
   > Found 1 clusters in hypercube 91.
   > Found 0 clusters in hypercube 92.
   > Found 0 clusters in hypercube 93.
   > Found 1 clusters in hypercube 94.
   > Found 0 clusters in hypercube 95.
   > Found 0 clusters in hypercube 96.
   > Found 1 clusters in hypercube 97.
   > Found 2 clusters in hypercube 98.
   > Found 2 clusters in hypercube 99.
   > Found 0 clusters in hypercube 100.
   > Found 0 clusters in hypercube 101.
Cube_102 is empty.

Cube_103 is empty.

   > Found 1 clusters in hypercube 104.
   > Found 1 clusters in hypercube 105.
Cube_106 is empty.

   > Found 1 clusters in hypercube 107.
Cube_108 is empty.

Cube_109 is empty.

   > Found 1 clusters in hypercube 110.
   > Found 2 clusters in hypercube 111.
   > Found 1 clusters in hypercube 112.
   > Found 1 clusters in hypercube 113.
   > Found 0 clusters in hypercube 114.
   > Found 0 clusters in hypercube 115.
   > Found 0 clusters in hypercube 116.
   > Found 0 clusters in hypercube 117.
   > Found 0 clusters in hypercube 118.
   > Found 2 clusters in hypercube 119.
   > Found 2 clusters in hypercube 120.
   > Found 0 clusters in hypercube 121.
   > Found 0 clusters in hypercube 122.
   > Found 0 clusters in hypercube 123.
   > Found 0 clusters in hypercube 124.
Cube_125 is empty.

   > Found 0 clusters in hypercube 126.
   > Found 0 clusters in hypercube 127.
   > Found 1 clusters in hypercube 128.
   > Found 1 clusters in hypercube 129.
   > Found 0 clusters in hypercube 130.
   > Found 0 clusters in hypercube 131.
   > Found 0 clusters in hypercube 132.
   > Found 0 clusters in hypercube 133.
   > Found 0 clusters in hypercube 134.
   > Found 0 clusters in hypercube 135.
   > Found 0 clusters in hypercube 136.
   > Found 0 clusters in hypercube 137.
   > Found 0 clusters in hypercube 138.
   > Found 0 clusters in hypercube 139.
   > Found 0 clusters in hypercube 140.
   > Found 1 clusters in hypercube 141.
Cube_142 is empty.

Cube_143 is empty.

Cube_144 is empty.

Cube_145 is empty.

   > Found 1 clusters in hypercube 146.
   > Found 1 clusters in hypercube 147.
   > Found 0 clusters in hypercube 148.
   > Found 0 clusters in hypercube 149.
   > Found 0 clusters in hypercube 150.
   > Found 0 clusters in hypercube 151.
   > Found 0 clusters in hypercube 152.
   > Found 0 clusters in hypercube 153.
   > Found 0 clusters in hypercube 154.
   > Found 0 clusters in hypercube 155.
   > Found 0 clusters in hypercube 156.
   > Found 0 clusters in hypercube 157.
   > Found 0 clusters in hypercube 158.
Cube_159 is empty.

   > Found 1 clusters in hypercube 160.
   > Found 1 clusters in hypercube 161.
   > Found 1 clusters in hypercube 162.
   > Found 1 clusters in hypercube 163.
   > Found 0 clusters in hypercube 164.
   > Found 0 clusters in hypercube 165.
   > Found 0 clusters in hypercube 166.
   > Found 0 clusters in hypercube 167.
   > Found 0 clusters in hypercube 168.
   > Found 0 clusters in hypercube 169.
   > Found 0 clusters in hypercube 170.
   > Found 0 clusters in hypercube 171.
   > Found 0 clusters in hypercube 172.
   > Found 0 clusters in hypercube 173.
   > Found 0 clusters in hypercube 174.
   > Found 0 clusters in hypercube 175.
   > Found 1 clusters in hypercube 176.
Cube_177 is empty.

   > Found 0 clusters in hypercube 178.
Cube_179 is empty.

Cube_180 is empty.

   > Found 0 clusters in hypercube 181.
   > Found 0 clusters in hypercube 182.
   > Found 0 clusters in hypercube 183.
   > Found 0 clusters in hypercube 184.
   > Found 0 clusters in hypercube 185.
   > Found 0 clusters in hypercube 186.
   > Found 0 clusters in hypercube 187.
   > Found 0 clusters in hypercube 188.
   > Found 0 clusters in hypercube 189.
   > Found 0 clusters in hypercube 190.
   > Found 0 clusters in hypercube 191.
   > Found 0 clusters in hypercube 192.
   > Found 1 clusters in hypercube 193.
   > Found 1 clusters in hypercube 194.
Cube_195 is empty.

Cube_196 is empty.

   > Found 0 clusters in hypercube 197.
   > Found 0 clusters in hypercube 198.
Cube_199 is empty.

   > Found 1 clusters in hypercube 200.
   > Found 1 clusters in hypercube 201.
   > Found 0 clusters in hypercube 202.
   > Found 0 clusters in hypercube 203.
   > Found 0 clusters in hypercube 204.
   > Found 0 clusters in hypercube 205.
   > Found 0 clusters in hypercube 206.
   > Found 0 clusters in hypercube 207.
   > Found 0 clusters in hypercube 208.
   > Found 0 clusters in hypercube 209.
   > Found 0 clusters in hypercube 210.
Cube_211 is empty.

   > Found 0 clusters in hypercube 212.
   > Found 0 clusters in hypercube 213.
   > Found 1 clusters in hypercube 214.
   > Found 1 clusters in hypercube 215.
   > Found 0 clusters in hypercube 216.
   > Found 0 clusters in hypercube 217.
   > Found 0 clusters in hypercube 218.
   > Found 0 clusters in hypercube 219.
   > Found 0 clusters in hypercube 220.
   > Found 0 clusters in hypercube 221.
   > Found 0 clusters in hypercube 222.
   > Found 1 clusters in hypercube 223.
   > Found 1 clusters in hypercube 224.
   > Found 0 clusters in hypercube 225.
   > Found 1 clusters in hypercube 226.
   > Found 1 clusters in hypercube 227.
   > Found 0 clusters in hypercube 228.
   > Found 0 clusters in hypercube 229.
   > Found 0 clusters in hypercube 230.
   > Found 0 clusters in hypercube 231.
   > Found 0 clusters in hypercube 232.
   > Found 0 clusters in hypercube 233.
Cube_234 is empty.

   > Found 0 clusters in hypercube 235.
   > Found 0 clusters in hypercube 236.
Cube_237 is empty.

   > Found 0 clusters in hypercube 238.
   > Found 1 clusters in hypercube 239.
   > Found 1 clusters in hypercube 240.
   > Found 1 clusters in hypercube 241.
   > Found 1 clusters in hypercube 242.
   > Found 0 clusters in hypercube 243.
   > Found 0 clusters in hypercube 244.
   > Found 1 clusters in hypercube 245.
   > Found 1 clusters in hypercube 246.
   > Found 0 clusters in hypercube 247.
   > Found 0 clusters in hypercube 248.
Cube_249 is empty.

Cube_250 is empty.

   > Found 0 clusters in hypercube 251.
   > Found 0 clusters in hypercube 252.
   > Found 0 clusters in hypercube 253.
Cube_254 is empty.

Cube_255 is empty.

   > Found 1 clusters in hypercube 256.
   > Found 1 clusters in hypercube 257.
   > Found 0 clusters in hypercube 258.
   > Found 0 clusters in hypercube 259.
   > Found 0 clusters in hypercube 260.
   > Found 0 clusters in hypercube 261.
   > Found 0 clusters in hypercube 262.
   > Found 0 clusters in hypercube 263.
   > Found 1 clusters in hypercube 264.
   > Found 1 clusters in hypercube 265.
   > Found 0 clusters in hypercube 266.
   > Found 1 clusters in hypercube 267.

   > Found 1 clusters in hypercube 268.
   > Found 1 clusters in hypercube 269.
   > Found 1 clusters in hypercube 270.
   > Found 0 clusters in hypercube 271.
   > Found 1 clusters in hypercube 272.
   > Found 2 clusters in hypercube 273.
   > Found 1 clusters in hypercube 274.
   > Found 0 clusters in hypercube 275.
Cube_276 is empty.

Cube_277 is empty.

   > Found 1 clusters in hypercube 278.
   > Found 1 clusters in hypercube 279.
   > Found 1 clusters in hypercube 280.
   > Found 1 clusters in hypercube 281.
   > Found 0 clusters in hypercube 282.
   > Found 1 clusters in hypercube 283.
   > Found 1 clusters in hypercube 284.
Cube_285 is empty.

Cube_286 is empty.

   > Found 0 clusters in hypercube 287.
   > Found 0 clusters in hypercube 288.
   > Found 0 clusters in hypercube 289.
   > Found 1 clusters in hypercube 290.
   > Found 1 clusters in hypercube 291.

Created 132 edges and 110 nodes in 0:00:04.667199.

In [45]:

df1

,ID,Live_Alone,groupedmaritalstatus,Lonelycategrical,positivelonelinessgrouped,groupedtimealone,groupedhealth,0,1
0,29,1,1.00,1.00,0,2.00,1.00,-5.844135,13.877417
1,32,1,1.00,2.00,1.00,2.00,1.00,1.173233,12.114919
2,33,-99,0,0,0,0,0,-3.085478,9.912493
3,34,1,1.00,1.00,2.00,1.00,2.00,0.392786,7.220436
4,35,-99,0,0,0,0,0,-6.253227,13.206820
...,...,...,...,...,...,...,...,...,...
39439,39608,1,1.00,1.00,2.00,2.00,0,-17.229113,11.571386
39440,39609,1,1.00,1.00,2.00,2.00,0,-5.906610,11.784863
39441,39610,2,2.00,2.00,2.00,2.00,0,-2.749730,12.862091
39442,39611,2,2.00,2.00,1.00,2.00,0,-17.218416,11.583133
39443,39612,1,2.00,2.00,1.00,2.00,0,-3.272557,10.641032

In [61]:
y = np.array(df1["Lonelycategrical","groupedmaritalstatus" ]) 

X = np.array(features)    
    # Customizing the tooltips with binary target variables
#X, y = split_data(df)
# html = mapper.visualize(
#                         graph,
#                         path_html="Project0/Mapper_visuals3.html",
#                         title="Lonely_Categ_Umap",
#                         custom_tooltips=y)

KeyError: ('Lonelycategrical', 'groupedmaritalstatus')

In [59]:
 # Custom coloring data based on the first variable
 
html = mapper.visualize(graph,
                        path_html="Project0/Mapper_visuals3.html",
                        color_values=y)

Exception: 0 `color_function_names` values found, but 1 columns found in color_values. Must be equal.

In [54]:

import matplotlib.pyplot as plt

km.draw_matplotlib(graph)
plt.show()

no display found. Using non-interactive Agg backend

<ipython-input-54-33d7157822bf>:4: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [ ]:
import sys
try:
    import pandas as pd
except ImportError as e:
    print("pandas is required for this example. Please install with conda or pip  and then try again.")
    sys.exit()

import numpy as np
import sklearn
from sklearn import ensemble
import kmapper as km
from kmapper.plotlyviz import *

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [ ]:
feature_names = [c for c in clean_data.columns if c not in ["ID", "gender", "age", "Live_Alone","groupedmaritalstatus","Lonelycategrical","positivelonelinessgrouped","groupedtimealone",
                        "groupedhealth"]]

In [ ]:
X = text ve
y = np.array(clean_data[["Live_Alone","groupedmaritalstatus","Lonelycategrical","positivelonelinessgrouped","groupedtimealone",
                        "groupedhealth"]])

In [ ]:
X

In [ ]:
import umap
import numpy as np
lens = umap.UMAP(n_components=2,
                  random_state=1).fit_transform(X)

In [ ]:
embeddings.shape

In [ ]:
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler

In [ ]:
model= DBSCAN(eps = 0.6, min_samples = 25).fit(embeddings)

In [ ]:
clean_data['cluster'] = model.labels_

n_clusters_ = len(set(clean_data['cluster'])) - (1 if -1 in clean_data['cluster'] else 0)
n_noise_ = list(clean_data['cluster']).count(-1)

n_clusters_

#clean_data.to_csv('raw_cluster1.csv', index = False)

k = 17
order_centroids = model.labels_
terms = vectorizer.get_feature_names()

for i in range(k):
    print("Cluster %d:" % i)
    for j in order_centroids[i, :10]: #print out 10 feature terms of each cluster
        print (' %s' % terms[j])
    print('------------')

In [ ]:
##### from sklearn import metrics
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN
# Data viz
from gtda.plotting import plot_point_cloud

# TDA magic
from gtda.mapper import (
    CubicalCover,
    make_mapper_pipeline,
    Projection,
    plot_static_mapper_graph,
    plot_interactive_mapper_graph,
    MapperInteractivePlotter
)

#Define filter
ump = umap.UMAP(n_neighbors=12,
                      min_dist=0.3,
                      metric='correlation')

# Define cover
cover = CubicalCover(n_intervals=10, overlap_frac=0.3)
# Choose clustering algorithm – default is DBSCAN
model= DBSCAN(eps = 0.6, min_samples = 20)
# Configure parallelism of clustering step
n_jobs = 1

# Initialise pipeline
pipe = make_mapper_pipeline(
    #filter_func=ump,
    cover=cover,
    clusterer=model,
    verbose=True,
    n_jobs=n_jobs,
)

In [ ]:
reshape = embeddings.reshape(-1,1)

fig = plot_static_mapper_graph(pipe, reshape)
fig.show(config={'scrollZoom': True})

In [ ]:
plot_interactive_mapper_graph(pipe, embeddings)

In [ ]:
reshape = embeddings
# Create the plotter object
MIP = MapperInteractivePlotter(pipe, reshape)

# Generate interactive widget
MIP.plot(color_data=reshape)

In [ ]:
print("Attributes created by `.plot` and updated during the interactive session:\n",
      [attr for attr in dir(MIP) if attr.endswith("_") and attr[0] != "_"])

In [ ]:
graph = pipe.fit_transform(reshape)
node_elements = graph.vs["node_elements"]
#print(f"There are {len(node_elements)} nodes.\nThe first node consists of row indices {node_elements[0]}.")

In [ ]:
fig = plot_static_mapper_graph(
    pipe, embeddings, node_color_statistic=np.arange(len(node_elements))
)
#fig.show(config={'scrollZoom': True})

In [ ]:
df = pd.DataFrame(reshape, columns=["x", "y"])
df.head()
df.shape

In [ ]:
pipe.set_params(filter_func=Projection(columns=["x", "y"]));

In [ ]:

fig = plot_static_mapper_graph(pipe, df, color_data=df)
fig.show(config={'scrollZoom': True})

In [ ]:
df = pd.DataFrame(embeddings, columns=["x", "y"])

In [ ]:
df["Circle"] = df["x"] ** 2 + df["y"] ** 2 < 0.25
df["Circle"] = df["Circle"].replace([False, True], ["A", "B"])

In [ ]:
df

In [ ]:
color_data = pd.get_dummies(df["Circle"], prefix="Circle")

fig = plot_static_mapper_graph(pipe, df[["x", "y"]], color_data=color_data)
fig.show(config={'scrollZoom': True})

In [ ]:
graph = pipe.fit_transform(df[["x", "y"]])

In [ ]:
graph.vs.attributes()

In [ ]:
node_elements

for

In [ ]:
node_id = 0
node_elements = graph.vs["node_elements"]

print(f"""
Node ID: {node_id}
Node elements: {node_elements[node_id]}
Data points: {embeddings[node_elements[node_id]]}
""")

In [ ]:
node_elements

Clean_data

In [ ]:
filter_func = np.sum

pipe = make_mapper_pipeline(
    filter_func=filter_func,
    cover=cover,
    clusterer=model,
    verbose=True,
    n_jobs=n_jobs,
)

In [ ]:
fig = plot_static_mapper_graph(pipe, embeddings)
fig.show(config={'scrollZoom': True})